@page "/"
@model Deals.Pages.Index

@{
    ViewData["Title"] = "Meal Deal | Search Deals";
    Layout = "Shared/_Layout";;
}

<!DOCTYPE html>

<html>
<head>
    <title>Meal Deal</title>
</head>
<body>
<div style="display: flex; flex-direction: column; align-items: center; height: 100vh; position: relative;">

    <input type="text" name="search"
        hx-get="/api/deals"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#search-results"
        placeholder="Search Deals..."
        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -150%); width: 300px; height: 50px; font-size: 20px;"
    >
    <div id="search-results"
         style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 0%);"
    ></div>

</div>
</body>
</html>