@page
@using Deals
@model Deals.Pages.Index
@inject DealService dealService

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>

@foreach(var deal in await dealService.GetDealsFromShop("netto", 5))
{
    <div>
        <h3>@deal.Name</h3>
        <p>@deal.Price kr</p>
        @* <img src="@deal.Images[3].Url"/> *@
    </div>
}

</body>
</html>